@media only screen and (max-width:1200px){
    *{font-size: 62.5%}
    .title-products{
        font-size: medium;
    }
    .grid-products{
        display: grid;
        grid-template-columns: 100% 0% 0% 0% 0%;
        grid-template-rows: 33% 33% 33%;
        gap: 20px;
        justify-content: center;
        }
    .title-css{
        font-size: medium;
    }
    .grid2{
        display: grid;
        grid-template-columns: 100% 0%;
        grid-template-rows: 50% 50%;
        padding: 50px;
        
    }
    .column1{
        grid-column: 1/1;
        grid-row: 1/1;
        padding: 30px;
        text-align: center;
        margin: auto;
    }
    .column2{
        grid-column: 1/1;
        grid-row: 2/2;
        padding: 30px;
        text-align: center;
        margin: auto;
    }
    .columna1{
        grid-column: 1/1;
        grid-row: 1/1;
        display: flex;
        flex-wrap: wrap;
        margin: 10px;
     }
    .columna2{
        grid-column: 1/1;
        grid-row: 2/2;
        display: flex;
        flex-wrap: wrap;
        margin: 10px;
    }
    .columna3{
        grid-column: 1/1;
        grid-row: 3/3;
        display: flex;
        flex-wrap: wrap;
        margin: 10px;
    }
}

@media only screen and (min-width:412px) and (max-width:694px){
    .grid-products{
        margin: 10px;
        display: grid;
        grid-template-columns: 0% 33% 33% 33% 0%;
        grid-template-rows: 33% 33% 33%;
        gap: 20px;
        justify-content: center;
        }
        .columna1{
        padding: 30px;
           margin-top: 30px;
        grid-column: 2/4;
        grid-row: 1/1;
        margin: 10px;
     }
    .columna2{
        padding: 30px;
        margin-top: 30px;
        grid-column: 2/4;
        grid-row: 2/2;
        margin: 10px;
    }
    .columna3{
        padding: 30px;
        margin-top: 30px;
        grid-column: 2/4;
        grid-row: 3/3;
        margin: 10px;
    }

}