.grif-flex{
    display: flex;
    flex-wrap: wrap;
}

.grid-products{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 33% 33% 33%;
    gap: 20px;
    justify-content: center;
}
.column-title{
    text-align: center;
    margin:auto;
}
.columna1{
    grid-column: 2/2;
    grid-row: 1/1;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}
.columna2{
    grid-column: 3/3;
    grid-row: 1/1;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}
.columna3{
    grid-column: 4/4;
    grid-row: 1/1;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}
.column-product{
    margin: 20px;
}